/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #011609;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */

.header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link:hover {
    text-decoration: underline;
}

/* Main */

.main{
    width: 98.2vw;
    height: 130vh;
    background-image: linear-gradient(to bottom, #062d14, black);
    padding: 20px;
    margin: 0 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* ItemList */

.main__texts{
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__link:hover{
    text-decoration: underline;
}

.item-list__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
}

.single-item{  
    position: relative;
    padding: 25px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    align-items: center;
    transition: background-color ease 0.2s;
}

.single-item:hover{
    background-color: #01250e;
    text-decoration: none;
    border-radius: 15px;
}

.single-item:hover .single-item__icon{
    opacity: 100%;
    transform: translateY(0);
}

.single-item:hover .single-item__bottom{
    opacity: 100%;
    transform: translateY(0);
}

.single-item__image{
    width: 140px;
    height: 140px;
    overflow: hidden;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.single-item__icon{
    position: absolute;
    font-size: 50px;    
    right: 45px;
    bottom: 135px;
    color: #10be50;
    opacity: 0;
    transform: translateY(100%);
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}

.single-item__bottom{
    position: absolute;
    font-size: 50px;    
    right: 23px;
    bottom: 149px;
    color: #10be50;
    opacity: 0;
    transform: translateY(100%);
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}

.single-item__texts{
    padding: 25px 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.single-item__title{
    font-weight: 600;
}

.single-item__type{
    font-size: 13px;
}